# app
**/node_modules/

# client
client/build/
**/data/
**/pts-line-bisect/
client/public/assets/services/tmp/
client/public/assets/services/motif-logos/

# misc
**/.eslintcache
**/.vscode
**.gz.tbi

# server
server/config.json
**/logs/
**/data/
**/apache_logs/
**/tmp/
